.navbar
{
    background-color: #07020d;

}
body
{
  background-color: #07020d;
}
h3
{
    color: aliceblue;
}
.homebutton
{
    margin-left: 540px;
    margin-top: 0px;
}
.aboutbutton
{
    border-left-width: 10px;
    margin-left: 15px;
    margin-top: 0px;
}
.skillsbutton
{
    margin-top: 0px;
    margin-left: 15px
}
.contactme
{
    margin-top: 0px;
    margin-left: 15px;
}
.profile
{
    display: inline-block;
   border-radius: 100%;
   position: absolute;
   left: 750px;
   top: 200px;
}

.round
{
    border-radius: 100%;
}
.helloimg
{
  display: inline-block;
  position: absolute;
  left: 55px;
  top: -20;
  bottom: 0px;
  top: 110px;
}
h1
{
    display: block;
    position:absolute;
    
    color:aliceblue ;
}
.h1
{
    display: inline-block;
    position: absolute;
    color:aliceblue ;
    top: 400px;
    left: 610px;
}
.about
{
    display: inline-block;
    position: relative;
    top: 400px;
    padding-left: 150px;
    padding-right: 150px;
}
.webdeve
{
    font-size: 40px;
    top: 295px;
    left: 100px;
    position: absolute;
}
.h3
{
    display: inline-block;
    color: aliceblue;
}
.icons
{
    display: inline-block;
    position: absolute;
    top: 400px;
    left: 100px;
}
.caller
{
    display: inline-block;
    position: absolute;
    top: 430px;
    left: 100px;
}
h3:hover
{
    color: aquamarine;
}
.aboutme:hover
{
    color: #CC9C75;

}
.location
{
    display: inline-block;
    position: absolute;
    top: 460px;
    left: 100px;
}
.info
{
    color:aliceblue;
    display: inline-block;
    position: absolute;
}
.email
{
    position:absolute;
    top: 380px;
    left: 130px;
}
.contact
{
    position:absolute;
    top: 410px;
    left: 130px;

}
.address
{
    position:absolute;
    top: 440px;
    left: 130px;
}
.centerhr
{
    color: darkgray;
    width: 900px;
    position: absolute;
    top: 580px;
    border-left-width: 0px;
    margin-top: 0px;
    left: 230px;

}

.topbox
{
  
    left: 580px;
    top: 150px;   
    
}

.midbox
{
    
    left: 580px;
    top: 200px;
}
.thirdbox
{
    
    left: 580px;
    top: 250px;
}
input
{
    display: inline-block;
    position: absolute;
}
.submit
{
    left: 635px;
    top: 450px;
}
h4
{
    display: inline-block;
    position: absolute;
    color:aliceblue;
}
.female
{
    top: 300px;
    left: 580px;
}
.male
{
    top: 350px;
    left: 580px;
}
.femalecheck
{
    top: 320px;
    left: 720px;
}
.malecheck
{
    top: 370px;
    left: 720px;
}
.gender
{
    display: inline-block;
    position: absolute;
    left: 635px;
    top: 270px;
}
.aboutprofile
{
    border: solid #CC9C75;
    border-image: round;
    display: inline-block;
    border-radius: 100%;
   position: absolute;
   top: 100px;
    left: 525px;
}
.skills
{
    left: 400px;
}
.ratingshead
{
    left: 800px;
}
h2
{
    color:white ;

}
.aboutmehr
{

    color: darkgray;
    width: 450px;
    position: absolute;
    top: 460px;
    right: 300px;
    left: 335px;
    
}
.iconpack
{
    width: 60px;
    height: 60px;
    border-radius: 100%;
   
}
.icontable
{
    display: inline-block;
    position: absolute;
    top: 600px;
    left: 510px;
}

.rating1
{
    display: inline-block;
    color:aliceblue ;

}
.skillstable
{
  display:inline-block;
  position: absolute;
  top: 125px;
 left: 385px;

}
.header
{
    display:inline-block;
    position: absolute;
    left: 100px;
}
.ratings
{
    display:inline-block;
    position: relative;
    left: 180px;
}
.stars
{
    display:inline-block;
    position: relative;
    left: 200px
}
.webd
{
          left: 145px;
}
.name 
{
    font-size: 80px;
    top: 180px;
    left: 100px;
    bottom: 30px;
}
.firstsection
{
    width: 100%;
   
}